<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>IPify</title>
</head>
<body>
    <h2>Server Public IP: @ViewBag.ServerIP</h2>
    <h2>Client Public IP: @ViewBag.ClientIP</h2>
</body>
</html>