<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>IPify</title>
</head>
<body>
    <h2>This server's Public IP Adress is</h2>
    <h1>@ViewBag.ServerIP</h1>
</body>
</html>